name: build-and-publish

on:
  push:
    branches:
      - develop
      - main
    tags:
      - 'v*.*.*'

permissions:
  id-token: write   # required for trusted PyPI publishing
  contents: read
  packages: write

env:
  IMAGE_ID: ghcr.io/eoepca/eoap-cwlwrap/eoap-cwlwrap

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: pip install hatch nose2

      - name: Build package
        run: hatch build

      - name: Test package
        run: hatch test --verbose

      - name: Determine image tag
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/heads/develop ]]; then
            echo "IMAGE_TAG=latest-dev" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == refs/heads/main ]]; then
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
          elif [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
            echo "IMAGE_TAG=$VERSION" >> $GITHUB_ENV
          fi

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build container
        run: |
          docker build . -f Dockerfile -t eoap-cwlwrap
          docker tag eoap-cwlwrap $IMAGE_ID:${IMAGE_TAG}

      - name: Push container
        run: docker push $IMAGE_ID:${IMAGE_TAG}

  publish-to-pypi:

    # Only run for version tags
    if: startsWith(github.ref, 'refs/tags/v')

    runs-on: ubuntu-latest
    needs: build
    environment: release

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install hatch
        run: pip install hatch

      - name: Build package
        run: hatch build

      - name: Publish to PyPI (trusted publishing)
        uses: pypa/gh-action-pypi-publish@release/v1
